<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/fe30c8d4-7926-4008-b82e-2b28029068b8/resourceGroups/a2m/providers/Microsoft.ApiManagement/service/StockAPIapi/apis/StockAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/fe30c8d4-7926-4008-b82e-2b28029068b8/resourcegroups/a2m/providers/Microsoft.Web/sites/StockAPI20210710143947</ResourceId>
    <ResourceGroup>a2m</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://stockapi20210710143947.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://stockapi20210710143947.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>8ef42ec0-ebdd-4896-a920-2bc015a9926c</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-169.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StockAPI20210710143947</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StockAPI20210710143947</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>